<div id="stcker-tab-container">

    <div class="tab-arrows" id="sticker-tabs-prev"> 
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </div>
 
    <div id="sticker-tabs-parent"> 

        <ul id="sticker-tabs">
        
            {{#each list}}
                <li class="tabs" id="tab-{{@index}}" key="{{@index}}">
                    <img src="{{{mainPic}}}">
                </li>
            {{/each}}

        </ul>

    </div>

    <div class="tab-arrows" id="sticker-tabs-next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </div>

    <div class="clearfix"></div>

</div>

<div id="sticker-picture-container">
	
	{{#each list}}

		<ul id="pictures-{{@index}}">
		
			{{#each list}}
				
				<li class="picture" id="picture-{{@index}}" key="{{@index}}" url="{{{fullPic}}}">
					<img src="{{{smallPic}}}">
				</li>
				
			{{/each}}
			
			<div class="clearfix"></div>
			
		</ul>
		
		
	{{/each}}

</div>