<div id="message-info-container">

    <div class="message-info-header">
        <span class="glyphicon glyphicon-remove" id="btn-closeinfoview" ></span>
        <h4 class="align-center">{{l10n "Message Information"}}</h4>
    </div>

    <div class="deltedalert alert alert-danger">
        {{l10n "This message is deleted at "}} {{{formatDate deleted}}}
    </div>

    <table class="table">
        
        <tr><td>{{l10n "Sender"}}</td><td>{{{user.name}}}</td></tr>
        <tr><td>{{l10n "Sent At"}}</td><td>{{{formatDate created}}}</td></tr>
    
    </table>

    <h4 class="align-center">{{l10n "Users Seen"}}</h4>

    <table class="table users">
        
    {{#each seenBy}}
        <tr><td><img src="{{user.avatarURL}}" height="30px"/></td><td>{{user.name}}</td><td>{{{formatDate at}}}
        </td></tr>
    {{~/each}}
    
    </table>

</div>


<div id="message-action-container">
    
    <button type="button" id="btn-deletemessage" class="btn btn-danger">{{l10n "Delete Message"}}</button>
    
</div>

    