<div class="message-cell {{isMine}} thumb" id="{{id}}" userid="{{userID}}">
    
    <div class="status status{{status}}">
        
        <span class="sending glyphicon glyphicon-arrow-right"></span>
        <span class="sent glyphicon glyphicon-ok-circle  "></span>

    </div>
        
	<div class="avatar">
		<img src="{{ avatarURL }}" />
    </div>

    <div class="info">
        
        <span class="name"> {{name}} </span>
        <span class="time"> {{formatTime created}} </span>        
        
    </div>
    
    <div class="infoicon">
        <span class="glyphicon glyphicon-info-sign"></span>
    </div>

    <div class="thumb-container">
        
        <div>
            <a href="{{downloadURL}}" class="spika-thumb">
                <img src="{{thumbURL}}" />
            </a>

        </div>
                
    </div>

    
    <div class="clearfix"></div>
    
</div>

